In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./HNP_StatsData/HNP_StatsData.csv')

In [3]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,140.120535,140.594564,141.128109,141.32344,141.50816,141.668896,...,103.391461,101.541782,99.719799,97.916601,96.146492,94.695223,93.231944,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Africa Eastern and Southern,AFE,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Eastern and Southern,AFE,Adults (ages 15+) living with HIV,SH.DYN.AIDS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,Adults (ages 15-49) newly infected with HIV,SH.HIV.INCD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117306 entries, 0 to 117305
Data columns (total 67 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    117306 non-null  object
 1   Country Code    117306 non-null  object
 2   Indicator Name  117306 non-null  object
 3   Indicator Code  117306 non-null  object
 4   1960            37753 non-null   float64
 5   1961            38305 non-null   float64
 6   1962            38880 non-null   float64
 7   1963            38440 non-null   float64
 8   1964            38490 non-null   float64
 9   1965            38651 non-null   float64
 10  1966            38595 non-null   float64
 11  1967            39119 non-null   float64
 12  1968            38709 non-null   float64
 13  1969            38792 non-null   float64
 14  1970            40158 non-null   float64
 15  1971            40895 non-null   float64
 16  1972            41437 non-null   float64
 17  1973            40988 non-null   float64
 18  1974            41028 non-null   float64
 19  1975            41997 non-null   float64
 20  1976            42075 non-null   float64
 21  1977            42567 non-null   float64
 22  1978            42141 non-null   float64
 23  1979            42228 non-null   float64
 24  1980            43058 non-null   float64
 25  1981            43343 non-null   float64
 26  1982            43631 non-null   float64
 27  1983            43248 non-null   float64
 28  1984            43473 non-null   float64
 29  1985            43742 non-null   float64
 30  1986            44128 non-null   float64
 31  1987            44593 non-null   float64
 32  1988            43945 non-null   float64
 33  1989            44197 non-null   float64
 34  1990            52295 non-null   float64
 35  1991            52730 non-null   float64
 36  1992            53407 non-null   float64
 37  1993            52845 non-null   float64
 38  1994            52801 non-null   float64
 39  1995            53093 non-null   float64
 40  1996            53289 non-null   float64
 41  1997            53459 non-null   float64
 42  1998            53237 non-null   float64
 43  1999            54317 non-null   float64
 44  2000            71764 non-null   float64
 45  2001            68718 non-null   float64
 46  2002            69457 non-null   float64
 47  2003            69261 non-null   float64
 48  2004            69774 non-null   float64
 49  2005            71387 non-null   float64
 50  2006            70778 non-null   float64
 51  2007            71404 non-null   float64
 52  2008            70457 non-null   float64
 53  2009            70973 non-null   float64
 54  2010            75273 non-null   float64
 55  2011            71916 non-null   float64
 56  2012            72349 non-null   float64
 57  2013            71108 non-null   float64
 58  2014            72429 non-null   float64
 59  2015            73050 non-null   float64
 60  2016            72903 non-null   float64
 61  2017            71956 non-null   float64
 62  2018            71383 non-null   float64
 63  2019            67066 non-null   float64
 64  2020            50967 non-null   float64
 65  2021            1053 non-null    float64
 66  Unnamed: 66     0 non-null       float64
dtypes: float64(63), object(4)
memory usage: 60.0+ MB

# 1. Which country has the lowest total fertility rate 2019

In [ ]:
df['Indicator Name'].unique()

In [ ]:
df_fer = df[df['Indicator Name'].str.contains('Adolescent fertility rate')]

In [ ]:
low = df_fer[['Country Name','2019']]

In [ ]:
low.head()

In [ ]:
low19 = low[low['2019'] == low['2019'].min()]
low19

# Which country has 98% of their pregnant women receiving prenatal care in 2017

In [ ]:
df_pregnant = df[df['Indicator Name'].str.contains('Pregnant women receiving prenatal care')]

In [ ]:
df_pregnant.head()

In [ ]:
answers2 = df_pregnant[['Country Name','2017']]
answers2

In [ ]:
answers2 = answers2[answers2['2017'] == 98]
answers2

# **3. Which country has the highest prevalance of overweight adults in 2016?**

In [ ]:
df_prevalance = df[df['Indicator Name'] == 'Prevalence of overweight (% of adults)']

In [ ]:
answer3 = df_prevalance[['Country Name','2016']]

In [ ]:
answer3.head()

In [ ]:
answer3[answer3['2016'] == answer3['2016'].max()]

# **3. Which country has more likely to have a measles outbreak due to the lowest rate of immunization in 2019?**

In [ ]:
df_measles = df[df['Indicator Name']== 'Immunization, measles (% of children ages 12-23 months)']
df_measles.head()

In [ ]:
answer4 = df_measles[['Country Name','2019']]
answer4 = answer4[answer4['2019'] == answer4['2019'].min()]

In [ ]:
answer4

# 5. How much female age first marriage in slovenia

In [ ]:
female = df[df['Indicator Name'].str.contains('Age at first marriage, female')]

In [ ]:
#female.info()

In [ ]:
female = female[['Country Name','2018']]

In [ ]:
female

In [ ]:
answer5 = female[female['Country Name'] == 'Slovenia']

In [ ]:
answer5